name: Mac Artifact

on:
  push:
    branches: [main, actionsHub]
  pull_request:
    branches: [main]
  workflow_call:
    inputs:
      submodule:
        description: The directory of the submodule, if this workflow is being called on a submodule
        required: false
        type: string

jobs:
  build:
    strategy:
      matrix: 
        os: [macos-14, macos-15, macos-26]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Get checkout directory
        uses: haya14busa/action-cond@v1
        id: checkout-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools # In this case we are expecting to checkout the tools package.
          if_false: aerospike-backup-cli
      - name: Get asbackup working directory
        uses: haya14busa/action-cond@v1
        id: working-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools/${{ inputs.submodule }} # In this case we are expecting to checkout the tools package.
          if_false: aerospike-backup-cli
      - uses: actions/checkout@v4
        with:
          path: ${{ steps.checkout-dir.outputs.value }}
          fetch-depth: 0
      - name: Checkout asbackup
        run: |
          # Workaround to replace ssh with http in .gitmodules and add auth
          # If the .gitmodules was http then we would just need to add the "token:"
          # param to the above actions/checkout@v4 step since the token is persisted.
          git config --file .gitmodules --get-regexp url | while read url; do
            git config --file=.gitmodules $(echo "$url" | sed -E "s/git@github.com:|https:\/\/github.com\//https:\/\/${{ secrets.TOOLS_BUILD_PAT }}:${{ secrets.TOOLS_BUILD_PAT }}@github.com\//")
          done
          git submodule update --init --recursive -- ${{ inputs.submodule || '.' }}
        working-directory: ${{ steps.checkout-dir.outputs.value }}
      - name: Print and get version
        id: tag
        run: |
          git describe --tags --always
          echo "tag=$(git describe --tags --always)" >> $GITHUB_OUTPUT
        working-directory: ${{ steps.working-dir.outputs.value }}
      - name: Get go version from go.mod
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          echo "GO_VERSION=$(grep '^go ' go.mod | cut -d " " -f 2)" >> $GITHUB_ENV
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true
          cache-dependency-path: ${{ steps.working-dir.outputs.value }}/go.sum
      - uses: kenchan0130/actions-system-info@v1.3.0
        id: system-info
      - name: Cache asbackup
        uses: actions/cache@v4
        id: cache-asbackup
        env:
          cache-name: cache-asbackup
          cache-index: "1"
        with:
          path: |
            ${{ steps.working-dir.outputs.value }}/bin/asbackup
            ${{ steps.working-dir.outputs.value }}/bin/asrestore
          key: ${{ env.cache-name }}-${{ env.cache-index }}-${{ matrix.os }}-${{ runner.arch }}-${{ steps.system-info.outputs.release }}-${{ steps.tag.outputs.tag }}
      - name: Build mac asbackup tools
        if: steps.cache-asbackup.outputs.cache-hit != 'true'
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          make tools-build
      - name: Sanity Test asbackup tools
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          ./bin/asbackup --version 2>&1 | grep "version:"
          ./bin/asrestore --version 2>&1 | grep "version:"
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.system-info.outputs.platform }}-${{ runner.arch }}-${{ matrix.os }}-${{ steps.system-info.outputs.release }}-asbackup
          path: |
            ${{ steps.working-dir.outputs.value }}/bin/asbackup
            ${{ steps.working-dir.outputs.value }}/bin/asrestore
          if-no-files-found: error